body {
    text-align: center;
    background-image: url('backgrounds.png');
    background-size: 100%;
    font-family: 'Do Hyeon', sans-serif;
}

#lookcode {
    width: 100%;
    height: 100%;
    padding: 30px;
}

#codefield {
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    border-style: dashed;
    border-width: 3px;
    border-color: #0B2161;
    color: white;
    opacity: 0.5;
    text-align: center;
    width: 30%;
    height: 500px;
    overflow: scroll;
    border-radius: 5px;
}

.btn {
    margin-right: 25px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    width: 75px;
    height: 70x;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 5px;
    background-color: #65a69f;
}

#btn_area {
    float: left;
    margin: 50px;
    margin-left: 10%;
}

#show {
    float: right;
    width: 67%;
    height: 650px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
} 

/*스택 이미지화 css*/
.stacks{
    border: solid 5px black;
    background-color: white;
    width: 35%;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    margin-left: 33%;
    opacity: 1;
}

/*배열 이미지화 css*/
.arrays{
    float: left;
    border: solid 5px black;
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10%;
    opacity: 1;
}

.variables{
    float: left;
    background-image: url('var.png');
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5%;
    opacity: 1;
    color: white;
}

p {
    font-size: 50px;
    color: black;
    margin-right: 30px;
    margin-top: 45px;
}